/* Spectrogram.css */

.spectrogram-canvas {
  display: block;
  background-color: #121212;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.spectrogram-canvas::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.spectrogram-canvas::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.spectrogram-canvas::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.spectrogram-canvas::-webkit-scrollbar-track {
  background: transparent;
}
